*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font-family: ar(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header {
    display:flex;
    justify-content: space-evenly;
    padding:1vh;
    align-items: center;

    & > nav {
        font-size: large;
        cursor:pointer;
    }
}

input#searchInput {
    padding: 1vh;
    color:white;
    border: none;
    background-color: rgb(191, 219, 219);
    border-radius: 2rem;
    border: none;
    outline: none;
    transition: .3s     ;
}

input#searchInput:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px #4a90e2;
  }
